.btn {
	display: block;
	margin: 3rem auto;
	background-color: #fff;
	border-radius: 22px;
	cursor: pointer;
	position: relative;
	width: 16.3rem;
	height: 4.2rem;
	text-decoration: none;
	@include breakpoint( tablet ) {
		margin: 4.5rem auto;
	}
	@include breakpoint( pc ) {
		margin: 6rem auto;
	}
}

.btn-text {
	color: $gray;
	font-size: 1.6rem;
	line-height: 1.6;
	@include breakpoint( pc ) {
		width: 29.2rem;
		height: 7.6rem;
	}
}

.btn svg {
	width: 30px;
	height: auto;
	position: absolute;
	top: 50%;
	left: auto;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	stroke: #424242;
	stroke-width: 2px;
	right: 13px;
}

.btn:hover svg {
	stroke: #424242;
}